<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户登录</title>
    <link rel="stylesheet" type="text/css" th:href="@{../static/jquery_easyui/themes/bootstrap/easyui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../static/jquery_easyui/themes/icon.css}"/>
    <script type="text/javascript" th:src="@{../static/jquery_easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{../static/jquery_easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{../static/busys/account/login.js}"></script>

</head>
<body>
<h2>登&nbsp;&nbsp;录</h2>
<div style="margin:20px 0;"></div>
<div class="easyui-panel" style="width:400px">
    <div style="padding:10px 60px 20px 60px">
        <form id="login-form" method="post">
            <table cellpadding="5">
                <tr>
                    <td>用户名:</td>
                    <td><input class="easyui-textbox" type="text" name="username" data-options="required:true"/></td>
                </tr>
                <tr>
                    <td>密码:</td>
                    <td><input class="easyui-textbox" type="password" name="password" data-options="required:true"/></td>
                </tr>
            </table>
        </form>
        <div style="text-align:center;padding:5px">
            <a id="login-btn-submit" href="javascript:void(0)" class="easyui-linkbutton">登录</a>
            <a id="login-btn-clear" href="javascript:void(0)" class="easyui-linkbutton">清空</a>
        </div>
    </div>
</div>
</body>

</html>