<?xml version="1.0" encoding="UTF-8"?>
<databaseChangeLog xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
                   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                   xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.0.xsd">

    <changeSet id="2.0" author="xianyang">
        <createTable tableName="Menu">
            <column autoIncrement="true" name="id" type="BIGINT">
                <constraints primaryKey="true"/>
            </column>
            <column name="menuNo" type="VARCHAR(10)" remarks="菜单编码">
                <constraints nullable="false"/>
            </column>
            <column name="text" type="VARCHAR(50)" remarks="文字"/>
            <column name="authorityNo" type="VARCHAR(10)" remarks="权限编码"/>
            <column name="icon" type="VARCHAR(30)" remarks="图标"/>
            <column name="url" type="VARCHAR(100)" remarks="菜单url"/>
            <column name="parent" type="VARCHAR(10)" remarks="父菜单编码"/>
        </createTable>

        <createIndex indexName="idx_menu_menuNo" tableName="Menu">
            <column name="menuNo"/>
        </createIndex>
    </changeSet>

</databaseChangeLog>